<!DOCTYPE html>
<!--  Last Updated: Thu Dec 09 2021 19:37:05   -->
<html lang="en" site-id="619520505b916bffa81f67bb">
    <head>
        <%- include('includes/meta') %>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta
            content="bfO_FRcQ04OZEPhoVFm6wUdNvjTp9zoDELpqD379NvM"
            name="google-site-verification"
        />
        <%- include('includes/head') %>

        <link href="https://segurohydraulics.com/about" rel="canonical" />
    </head>
    <body>
        <%- include('includes/nav') %>
        <section class="section">
            <div class="container">
                <h1>About Seguro Hydraulics</h1>
                <p>
                    <strong
                        >Who are we; and, what exactly do we do?<br />‍</strong
                    ><br />Seguro Hydraulics (Pty) Ltd supports the industries
                    we serve by providing a platform to bridge the gap between
                    manufacturers and end-users of hydraulic componentry.<br />‍<br />We
                    believe that the people and companies integral to keeping
                    major economies moving forward should have easy access to
                    the components and parts they require to succeed. <br />‍<br />We
                    endeavour to use speed and efficiency to help our customers
                    reduce downtime during instances of machinery breakdown and
                    the frustrations and losses that go hand in hand with
                    them.<br />‍<br />During the many years our technical expert
                    has worked in the industry, he felt pressured by the
                    constraints he had with obtaining components for repairs or
                    machinery and trucks. The time delays and resulting costs
                    were stressful and frustrating.  We aim to eliminate this
                    for our customers.<br />‍<br />The Seguro Hydraulics team
                    has built up a wealth of knowledge and first-class
                    expertise, which we use to benefit you, our customer. Our
                    strong relationships with leading manufacturers allow us to
                    be your one-stop shop. By taking care of the sourcing of
                    parts for you - something we do best, you can focus on
                    production - what you do best.<br />‍<br />Our technical
                    department is our repairs services and advisory to the
                    sourcing department. The members hold a masters degree in
                    mechanical engineering and a combined 40 years of experience
                    in hydraulics, ensuring all repairs get professionally
                    undertaken to OEM specification.<br />‍<br />Our founder has
                    many years of business experience within the mining, legal
                    and financial spaces and is also a Chartered Accountant. The
                    depth of knowledge obtained in these areas assures we are
                    well equipped to manage the administration required to
                    source parts, negotiate fair prices and timeous delivery of
                    orders.<br /><br />We thank you for entrusting your orders
                    to us. We pledge to give our very best attention to all.
                </p>
            </div>
        </section>
        <%- include('includes/footer') %> <%- include('includes/blockjs') %>
    </body>
</html>
