<!DOCTYPE html>
<!--  Last Updated: 02 Aug 2022   -->
<html lang="en" data-wf-page="619520505b916bffa81f67bb">
  <head>
    <%- include('includes/meta') %> <%- include('includes/head') %>

    <link href="https://specialisedsteering.com/about" rel="canonical" />
  </head>
  <body>
    <%- include('includes/nav') %>
    <main>
      <section class="section main">
        <div class="container">
          <h1>Who are Specialised Steering; and, what exactly do we do?‍</h1>
          <h2>Our Mission</h2>
          <p>
            Our mission it to create value for our customers by providing
            exceptional service using a professional approach with a 'can do'
            attitude. We will always go the extra mile to excel ourselves and
            exceed expectations by pushing beyond the boundaries.
          </p>
          <h2>Our Vision</h2>
          <p>
            Our vision is to safeguard our reputation as a company that is
            widely recognised within the sectors we serve for our continuing
            commitment to customer service and satisfaction.
          </p>
          <h3>What And Why</h3>
          <p>
            Specialised Steering has a combined history of over 40 years within
            the mining, agricultural and automotive industries. Our expertise
            spans across many areas - sealing, off-highway trucks and many more.
            We endeavour to use speed and efficiency to help our customers
            reduce downtime during instances of machinery breakdown and the
            frustrations and losses that go hand in hand with them. We are an
            OEM repair workshop for some of the worlds leading brands.
          </p>
          <p>
            Our list of services is extensive - we repair pumps, motors,
            orbitrols/HMU's, valve banks, brakes and the list goes on. We
            service machinery in both open pit and underground mining.
          </p>
          <p>
            Specialised Steering also supports the industries we serve by
            providing a platform to bridge the gap between manufacturers and
            end-users of hydraulic componentry. We believe that the people and
            companies integral to keeping major economies moving forward should
            have easy access to the components and parts they require to
            succeed. We are able to provide OEM parts as well as some selected
            aftermarket parts and machinery.
          </p>
          <p>
            We have observed the pressure our customers experience when
            machinery fails, or when the constraints with obtaining components
            for repairs for machinery and trucks result in time delays and
            rising costs. It is our aim to help eliminate or at least reduce
            this for our customers.
          </p>
          <p>
            The Specialised Steering team has built up a wealth of knowledge and
            first-class expertise, which we use to benefit you, our customer.
            Our strong relationships with leading manufacturers allow us to be
            your one-stop shop. By taking care of the repairing and sourcing of
            parts for you - something we do best, you can focus on production -
            what you do best.
          </p>
          <p>
            With the wealth of knowledge our team posesses you are assured that
            all repairs get professionally undertaken to OEM specification. We
            are well equipped to manage the administration required to source
            parts, negotiate fair prices and timeous delivery of orders.
          </p>
          <p>
            We thank you for entrusting your requirements to us and we pledge to
            give our very best attention to all.
          </p>
        </div>
      </section>
    </main>
    <%- include('includes/footer') %> <%- include('includes/blockjs') %>
  </body>
</html>
