<!DOCTYPE html>
<!--  Last updated: 02 Aug 2022  -->
<html lang="en" data-wf-page="61448a9f18708c14f2c5d52c">
  >
  <head>
    <%- include('includes/head') %> <%- include('includes/meta') %>
    <link href="https://specialisedsteering.com/contact" rel="canonical" />
    <script src="../js/block-scripts.js" defer></script>
    <script
      src="https://www.recaptcha.net/recaptcha/api.js"
      async
      defer
    ></script>
    <script>
      function onSubmit(token) {
        document.getElementById('contactForm').submit();
      }
    </script>
  </head>
  <body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V4W8VP4GL8"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-V4W8VP4GL8');
    </script>
    <!-- G-tag end -->
    <%- include('includes/nav') %>
    <main>
      <section id="contact-us" class="section main">
        <div class="container">
          <h1>Contact us - we're here to help!</h1>
          <div id="contact-form" class="form-block w-form">
            <h2>Get in Touch!</h2>
            <p>
              If you have a component for repair or you have any other query,
              reach out with as much info as necessary and we will be in touch
              within one business day.
            </p>
            <%- include('includes/forms/contact-form') %>
          </div>
        </div>
      </section>
    </main>
    <%- include('includes/footer') %> <%- include('includes/blockjs') %>
    <!-- ReCaptcha v3 -->
    <script
      asyn
      defer
      src="https://www.google.com/recaptcha/api.js?render=6Lc9VjYhAAAAADrFcrR-iZ56DPQnCFESM5J-Apaq"
    ></script>
    <script>
      function showResult(text) {
        document.querySelector('#result').innerHTML = text;
      }

      function handleClick(token) {
        return function () {
          let data = {
            token: token,
          };

          fetch('/send', {
            headers: {
              Accept: 'application/json',
              'Content-Type': 'application/json',
            },
            method: 'post',
            body: JSON.stringify(data),
          })
            .then(response => response.text())
            .then(text => showResult(text))
            .catch(error => showResult(error));
        };
      }

      grecaptcha.ready(function () {
        grecaptcha
          .execute('6Lc9VjYhAAAAADrFcrR-iZ56DPQnCFESM5J-Apaq', {
            action: 'contact',
          })
          .then(function (token) {
            document
              .querySelector('#send_button')
              .addEventListener('click', handleClick(token));
          });
      });
    </script>
  </body>
</html>
