<!DOCTYPE html>
<!--  Last updated: Wed Nov 24 2021  -->
<html lang="en" site-id="60b27efeb5434b7ea97c437c">
    >
    <head>
        <%- include('includes/meta') %> <%- include('includes/head') %>
        <link href="https://segurohydraulics.com/contact" rel="canonical" />
    </head>
    <body>
        <%- include('includes/nav') %>
        <main>
            <section id="contact-us" class="section main">
                <div class="container">
                    <h1>Contact us - we're here to help!</h1>
                    <%- include('includes/forms/contact-form') %>
                </div>
            </section>
        </main>
        <%- include('includes/footer') %> <%- include('includes/blockjs') %>
    </body>
</html>
