<!DOCTYPE html>
<!--  Last updated: Wed Nov 26 2021 13:37  -->
<html lang="en" site-id="60b27efeb5434b7ea97c437c">
    >
    <head>
        <title>Dashboard</title>
        <%- include('includes/head') %>
        <link href="https://segurohydraulics.com/dashboard" rel="canonical" />
    </head>
    <body>
        <%- include('includes/nav') %>
        <section class="section">
            <div class="container">
                <h1>Amy&#x27;s Dashboard</h1>
                <div id="contactMessages" class="messages-container">
                    <h2>Contact Messages</h2>
                    <p>You have <%= numberOfMessages %> contact messages.</p>
                    <div class="w-form">
                        <form
                            id="messageSort"
                            name="messageSort"
                            data-name="messageSort"
                            action="/dashboard"
                            method="get"
                            class="sort"
                        >
                            <div id="messageSort">
                                <div><strong>SORT</strong></div>
                                <label
                                    id="messageDateInput"
                                    class="radio-input w-radio"
                                    ><input
                                        type="radio"
                                        name="messageSort"
                                        id="messageDate"
                                        value="date"
                                        data-name="messageSort"
                                        class="
                                            w-form-formradioinput w-radio-input
                                        "
                                    /><span
                                        id="messageDateLabel"
                                        class="radio-btn-label w-form-label"
                                        for="messageDate"
                                        >date</span
                                    ></label
                                ><label
                                    id="messageNameInput"
                                    class="radio-input w-radio"
                                    ><input
                                        type="radio"
                                        name="messageSort"
                                        id="messageName"
                                        value="name"
                                        data-name="messageSort"
                                        class="
                                            w-form-formradioinput w-radio-input
                                        "
                                    /><span
                                        id="messageNameLabel"
                                        class="radio-btn-label w-form-label"
                                        for="messageName"
                                        >name</span
                                    ></label
                                >
                            </div>
                            <div id="messageOrder">
                                <div><strong>ORDER</strong></div>
                                <label
                                    id="messageAscInput"
                                    class="radio-input w-radio"
                                    ><input
                                        type="radio"
                                        name="messageOrder"
                                        id="messageAsc"
                                        value="asc"
                                        data-name="messageOrder"
                                        class="
                                            w-form-formradioinput w-radio-input
                                        "
                                    /><span
                                        id="messageAscLabel"
                                        class="radio-btn-label w-form-label"
                                        for="messageAsc"
                                        >ascending</span
                                    ></label
                                ><label
                                    id="messageDescInput"
                                    class="radio-input w-radio"
                                    ><input
                                        type="radio"
                                        name="messageOrder"
                                        id="messageDesc"
                                        value="desc"
                                        data-name="messageOrder"
                                        class="
                                            w-form-formradioinput w-radio-input
                                        "
                                    /><span
                                        id="messageDescLabel"
                                        class="radio-btn-label w-form-label"
                                        for="messageDesc"
                                        >descending</span
                                    ></label
                                >
                            </div>
                            <div class="sort-btn">
                                <input
                                    type="submit"
                                    value="Change"
                                    data-wait="Working...please wait..."
                                    class="button sort w-button"
                                />
                            </div>
                        </form>
                    </div>
                    <div class="message-list">
                      <% for (message of messages){ %>
                        <div class="message-grid">
                            <div class="grid-cell">
                                <div class="text">Date</div>
                                <p id="date">
                                    <%= message.get('postDate').split('T')[0] %>
                                </p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Name</div>
                                <p id="contactName">
                                    <%= message.get('name') %>
                                </p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Email</div>
                                <p id="contactEmail">
                                    <%= message.get('email') %>
                                </p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Phone</div>
                                <p id="contactNumber">
                                    <%= message.get('phone') %>
                                </p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Country</div>
                                <p id="country">
                                   <%= message.get('country') %>
                                </p>
                            </div>
                            <div
                                id="w-node-f772bff9-4720-01d0-8279-31fa9fe54e52-37d31539"
                                class="grid-cell"
                            >
                                <div class="text message">Message</div>
                                <p id="contactMessage">
                                    <%= message.get('message') %>
                                </p>
                            </div>
                        </div>
                        <hr />
                        <% } %>
                    </div>
                </div>
                <div id="enquiryMessages" class="messages-container">
                    <p>You have X part enquiries.</p>
                    <div class="w-form">
                        <form
                            id="enqirySort"
                            name="enqirySort"
                            data-name="enqirySort"
                            action="/dashboard"
                            method="get"
                            class="sort"
                        >
                            <div id="enqSort">
                                <div><strong>SORT</strong></div>
                                <label
                                    id="enqDateInput"
                                    class="radio-input w-radio"
                                    ><input
                                        type="radio"
                                        name="enqirySort"
                                        id="enquiryDate"
                                        value="date"
                                        data-name="enqirySort"
                                        class="
                                            w-form-formradioinput w-radio-input
                                        "
                                    /><span
                                        id="enqDateLabel"
                                        class="radio-btn-label w-form-label"
                                        for="enqirySort"
                                        >date</span
                                    ></label
                                ><label
                                    id="enqNameInput"
                                    class="radio-input w-radio"
                                    ><input
                                        type="radio"
                                        name="enqirySort"
                                        id="enquiryName"
                                        value="name"
                                        data-name="enqirySort"
                                        class="
                                            w-form-formradioinput w-radio-input
                                        "
                                    /><span
                                        id="enqNameLabel"
                                        class="radio-btn-label w-form-label"
                                        for="name"
                                        >name</span
                                    ></label
                                >
                            </div>
                            <div id="enqOrder">
                                <div><strong>ORDER</strong></div>
                                <label
                                    id="enqAscInput"
                                    class="radio-input w-radio"
                                    ><input
                                        type="radio"
                                        name="enqiryOrder"
                                        id="enqiryAsc"
                                        value="asc"
                                        data-name="enqiryOrder"
                                        class="
                                            w-form-formradioinput w-radio-input
                                        "
                                    /><span
                                        id="enqAscLabel"
                                        class="radio-btn-label w-form-label"
                                        for="asc"
                                        >ascending</span
                                    ></label
                                ><label
                                    id="enqDescInput"
                                    class="radio-input w-radio"
                                    ><input
                                        type="radio"
                                        name="enqiryOrder"
                                        id="enquriyDesc"
                                        value="desc"
                                        data-name="enqiryOrder"
                                        class="
                                            w-form-formradioinput w-radio-input
                                        "
                                    /><span
                                        id="enqDescLabel"
                                        class="radio-btn-label w-form-label"
                                        for="desc"
                                        >descending</span
                                    ></label
                                >
                            </div>
                            <div class="sort-btn">
                                <input
                                    type="submit"
                                    value="Change"
                                    data-wait="Working...please wait..."
                                    class="button sort w-button"
                                />
                            </div>
                        </form>
                    </div>
                    <div class="message-list">
                      <!-- loop through enquiries -->
                        <h3>Contact details</h3>
                        <div class="message-grid">
                            <div class="grid-cell">
                                <div class="text">Date</div>
                                <p id="date">
                                    enquiry created
                                </p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Name</div>
                                <p id="enquiryName">
                                   enquiry name
                                </p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Email</div>
                                <p id="enquiryEmail">
                                  enquiry email
                                </p>
                                >
                            </div>
                            <div class="grid-cell">
                                <div class="text">Phone</div>
                                <p id="enquiryPhone">
                                   enquiry phone
                                </p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Company</div>
                                <p id="company">enquiry company</p>
                            </div>
                            <div
                                id="w-node-_76cacc28-a14f-38d9-c786-18cad538c7cf-37d31539"
                                class="grid-cell"
                            >
                                <div class="text">Street Address</div>
                                <p id="street">enquiry street</p>
                            </div>
                            <div
                                id="w-node-_69b5d813-3bf3-fd51-ba63-b6663a62d7f3-37d31539"
                                class="grid-cell"
                            >
                                <div class="text">Town/Suburb</div>
                                <p id="town">enquiry town</p>
                            </div>
                            <div
                                id="w-node-ce2721ed-82ea-f2d7-7749-e5333234fea2-37d31539"
                                class="grid-cell"
                            >
                                <div class="text">Region/Province</div>
                                <p id="province">enquiry province</p>
                            </div>
                            <div
                                id="w-node-cfcb7082-ac1d-6134-2db8-3f07e76d4b83-37d31539"
                                class="grid-cell"
                            >
                                <div class="text">Postal code</div>
                                <p id="postal">enquiry postal</p>
                            </div>
                            <div
                                id="w-node-_197584d0-bc36-6535-3ed3-6fdf1dcdda6b-37d31539"
                                class="grid-cell"
                            >
                                <div class="text">Country</div>
                                <p id="country">enquiry country</p>
                            </div>
                        </div>
                        <h3>Part details</h3>
                        <div class="message-grid">
                            <div class="grid-cell">
                                <div class="text">Brand</div>
                                <p id="brand">brand</p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Type</div>
                                <p id="type">type</p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Serial No</div>serialNo</p>
                            </div>
                            <div class="grid-cell">
                                <div class="text">Part No</div>
                                <p id="partNo">partNo<br />‍</p>
                            </div>
                            <div
                                id="w-node-_16f6b53c-0d75-68e2-8149-4330e1e8f316-37d31539"
                                class="grid-cell"
                            >
                                <div class="text message">Additional Info</div>
                                <p id="message">enquiry message</p>
                            </div>
                        </div>
                        <hr />
                       <!-- end loop -->
                    </div>
                </div>
            </div>
        </section>

        <%- include('includes/footer') %> <%- include('includes/blockjs') %>
    </body>
</html>
