<!DOCTYPE html>
<!--  Last updated: Wed Nov 24 2021  -->
<html lang="en" site-id="60b27efeb5434b7ea97c437c">
    >
    <head>
        <%- include('includes/meta') %> <%- include('includes/head') %>
    </head>
    <body>
        <%- include('includes/nav') %>
        <main>
            <section id="parts-enquiry" class="section">
                <div class="container">
                    <h1>Component Enquiry</h1>
                    <p>
                        We know that machinery breakdowns can be a frustrating
                        cause of business interruption and we take pride in our
                        ability to help our customers get up and running again
                        in the quickest time possible.<br /><br />We are able to
                        offer service exchange on some parts as a solution to
                        minimise your losses. Speak to us today to see how we
                        can help you.<br /><br />For repairs other other
                        queries, please fill out the
                        <a href="/contact">contact form</a>.
                    </p>
                    <div autocomplete="true" class="form-block w-form">
                        <h2>Parts Enquiry Form</h2>
                        <p>
                            Provide any information you believe will assist in
                            the process of sourcing the exact component you are
                            looking for and we will be in touch within one
                            business day.
                        </p>
                        <%- include('includes/forms/enquiry-form') %>
                    </div>
                </div>
            </section>
        </main>
        <%- include('includes/footer') %> <%- include('includes/blockjs') %>
    </body>
</html>
