<!DOCTYPE html>
<!--  Last updated: 31 July 2022 -->
<html lang="en" data-wf-page="60b27efeb5434b7ea97c437c">
  <head>
    <%- include('includes/meta') %> <%- include('includes/head') %>
    <link href="https://specialisedsteering.com/" rel="canonical" />
    <script src="../js/block-scripts.js" defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById('contactForm').submit();
      }
    </script>
  </head>
  <body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-V4W8VP4GL8"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-V4W8VP4GL8');
    </script>
    <!-- G-tag end -->

    <%- include('includes/nav') %> <%- include('includes/header') %>
    <main>
      <div class="parallax-1">
        <section id="professional" class="section">
          <div class="container">
            <h2>Professional Hydraulic Engineers</h2>
            <p>
              We use our extensive technical knowledge with earth-moving and
              mining machinery and strong relationships with leading
              manufacturers to procure your hydraulic component requirements at
              competitive prices in the shortest time frames.
            </p>
            <div class="button_container">
              <a href="#our-work-list" class="button w-button"
                >Our Repair Work</a
              >
              <a href="./enquiry" class="button w-button">Parts Enquiry</a>
            </div>
          </div>
        </section>
      </div>
      <section id="products" class="section">
        <div class="container">
          <h2>Our Range</h2>
          <p>
            We supply a wide range of industries with genuine parts from trusted
            manufacturers and after market equivalent for the mining and
            agricultural industries. <br />
          </p>
          <p>
            Send us a parts enquiry for any components you need. We will source
            them for you in the shortest possible timeframe.
          </p>
          <div class="w-layout-grid grid">
            <ul
              id="w-node-_8a176121-2007-2647-3a23-84a4ac1fac02-a97c437c"
              role="list"
              class="range w-list-unstyled"
            >
              <li class="range-item">Articulated Dump Trucks</li>
              <li class="range-item">Rigid Dump Trucks</li>
              <li class="range-item">Motor Graders</li>
              <li class="range-item">Backhoe Loaders</li>
              <li class="range-item">Bulldozers</li>
              <li class="range-item">Excavators</li>
              <li class="range-item">Track Loaders</li>
              <li class="range-item">Crawler Dozers</li>
              <li class="range-item">Wheel Loaders</li>
              <li class="range-item">Engine parts for selected applications</li>
            </ul>
            <div
              id="w-node-_60c71446-d505-6c7d-83fd-9f4cb390f98e-a97c437c"
              class="range-grid"
            >
              <img
                src="https://sswebimages.mo.cloudinary.net/Articulated-dump-truck_cat.png"
                loading="lazy"
                id="w-node-a6843939-aaef-9f6f-0195-f7b8282341d3-a97c437c"
                alt="Caterpillar Articulated Dump Truck"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/backhoe-loaders_cat.png"
                loading="lazy"
                alt="Caterpillar Backhoe Loader"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/dozers_cat.png"
                loading="lazy"
                alt="Caterpillar Bulldozer"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/excavators_cat.png"
                loading="lazy"
                alt="Caterpillar excavator"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/track-loaders_cat.png"
                loading="lazy"
                alt="Caterpillar Track Loader"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/wheel_loaders-cat.png"
                loading="lazy"
                alt="Caterpillar Wheel Loader"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/ADT.png"
                loading="lazy"
                alt="Komatsu Articulated Dump Truck"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/rigid-dump-truck.png"
                loading="lazy"
                alt="Komatsu Rigid Dump Truck"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/Motor-graders.png"
                loading="lazy"
                id="w-node-c3e3fb36-76cf-96d1-115f-984a45a98467-a97c437c"
                alt="Komatsu Motor Grader"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/back-hoe-loaders.png"
                loading="lazy"
                alt="Komatsu Backhoe Loader"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/crawler-dozers.png"
                loading="lazy"
                alt="Komatsu Crawler Dozer"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/wheel-loaders.png"
                loading="lazy"
                alt="Komatsu Wheel Loader"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/travel-motor_hitachi.png"
                loading="lazy"
                alt="Hitachi Travel Motor"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/geroler-motor_eaton.png"
                loading="lazy"
                alt="Eaton Geroler Motor"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/piston-pumps_hitachi.png"
                loading="lazy"
                alt="Hitachi Piston Pump"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/piston-pump_hitachi.png"
                loading="lazy"
                alt="Hitachi Piston Pump"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/black-bruin-motors.png"
                loading="lazy"
                alt="Black Bruin Motor"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/motors_eaton.png"
                loading="lazy"
                alt="Eaton Motor"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/gear-pumps_rexroth.png"
                loading="lazy"
                alt="Rexroth Gear Pump"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/pumps_rexroth.png"
                loading="lazy"
                alt="Rexroth Pump"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/gear-pump_eaton.png"
                loading="lazy"
                alt="Eaton Gear Pump"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/shut-off-valves_rexroth.png"
                loading="lazy"
                alt="Rexroth Shut-off Valve"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/diesel-injectors_eaton.png"
                loading="lazy"
                alt="Eaton Diesel Injector"
                class="range-image"
              /><img
                src="https://sswebimages.mo.cloudinary.net/orbitrols_eaton.png"
                loading="lazy"
                alt="Eaton Steering Orbitrol"
                class="range-image"
              />
            </div>
            <ul
              id="w-node-_5700390f-ef02-d55e-2c05-3c7b6b8a851d-a97c437c"
              role="list"
              class="range w-list-unstyled"
            >
              <li class="range-item">Travel Motors</li>
              <li class="range-item">Geroler Motors</li>
              <li class="range-item">Gerotar Motors</li>
              <li class="range-item">Piston Motors</li>
              <li class="range-item">Gear Pumps</li>
              <li class="range-item">Piston Pumps</li>
              <li class="range-item">Fuel Pumps</li>
              <li class="range-item">Shut-off valves</li>
              <li class="range-item">Diesel Injectors</li>
              <li class="range-item">Steering Orbitrols</li>
            </ul>
          </div>
        </div>
      </section>
      <div class="parallax-2">
        <section id="customer-centric" class="section">
          <div class="container">
            <h2>Customer centric</h2>
            <p>
              We pride ourselves in customer satisfaction and will do our utmost
              to ensure your experience is rewarding, easy and pleasant. We are
              conscious of the additional costs when delays add to downtime and
              our primary goal is to solve your problem as quickly and
              cost-effectively as possible using the most viable solution.
              <br /><br />We are always willing to discuss options with you and
              to offer our professional opinion when requested.
            </p>
            <div class="button_container">
              <a href="./enquiry" class="button w-button">Parts Enquiry</a>
              <a href="#our-work-list" class="button w-button"
                >Our Repair Work</a
              >
            </div>
          </div>
        </section>
      </div>
      <section id="repair-process" class="section">
        <div class="container">
          <h2>Our Repairs Service</h2>
          <p>
            Our highly qualified engineers are proficient in the full repair and
            testing of components to OEM specification.
          </p>
          <p>
            Send us a message using the contact form to fill us in on the issue
            you are experiencing with your unit and we will contact you to
            discuss your needs and arrange to receive your job.
          </p>
          <p>
            As soon as your job is booked in we will strip and inspect the
            component and document our findings with images.
          </p>
          <p>
            We will send you our report for the assessment including any wear,
            failure and possible cause of failure along with our repair
            quotation.
          </p>
          <p>Work will commence on receipt of your official works order.</p>
          <p>
            We will then repair, reassemble and test the unit to OEM
            specification.
          </p>
        </div>
      </section>
      <section id="our-work-list" class="section">
        <div class="container">
          <h2>Our Work</h2>
          <% if (repairs.length === 0){ %>
          <p>
            We haven't selected any featured repairs to display at the moment
            but feel free to view some on our linkedIn page.
          </p>
          <% } else { %>
          <p>
            We are proud to showcase some examples of our extensive experience
            in repairs to hydraulic componentry as just some of the repairs we
            assist our customers with.
          </p>
          <p>
            We share many more examples of repairs we have completed on our
            social media pages. Feel free to
            <a href="../#social"><strong>connect with us</strong></a> using the
            icons at the bottom of our site.
          </p>
          <div id="repairs">
            <div id="featured-list" class="api-data">
              <% for (const repair of repairs) {%> <%-
              include('includes/work/our-work-item', {repair:repair})%> <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </section>
    </main>
    <section id="contact-us" class="section">
      <div class="container"><%- include('includes/forms/contact-form') %></div>
    </section>
    <%- include('includes/footer') %> <%- include('includes/blockjs') %>
  </body>
</html>
