<!DOCTYPE html>
<!--  Last Updated: Wed Nov 24 2021   -->
<html lang="en" site-id="619e512053fba7c0375067da">
    <head>
        <%- include('includes/meta') %> <%- include('includes/head') %>
    </head>
    <body>
        <%- include('includes/nav') %>
        <section id="repair-detail" class="section">
            <div class="container">
                <h1 class="page-heading"><%= repair.repairName %></h1>
                <div id="repairs">
                    <div id="featured-detail" class="api-detail">
                        <article
                            id="repair-item-[]"
                            class="
                                repair-card
                                w-node-_31c5f1eb-a8c8-5cfc-0d61-0cfd030b15f2-375067da
                            "
                        >
                            <div id="imagesGallery" class="gallery">
                                <% for(image of repairImages) {%>
                                <img
                                    src="<%= image.url %>"
                                    loading="lazy"
                                    id="w-node-_31c5f1eb-a8c8-5cfc-0d61-0cfd030b15f4-375067da"
                                    alt="<%= image.filename %>"
                                    class="galleryimage"
                                />
                                <% } %>
                            </div>
                            <div class="job-info">
                                <p id="date"><%= repair.date %></p>
                                <p id="componentName">
                                    <strong>Component Name:</strong> <%=
                                    repair.componentName %>
                                </p>
                                <p id="partNo">
                                    <strong>Part no.:</strong> <%= repair.partNo
                                    %>
                                </p>
                                <p id="componentDescription">
                                    <strong>Component Description:</strong> <%=
                                    repair.componentDescription %>
                                </p>
                                <p id="repairDescription">
                                    <strong>Repair Description:</strong> <%=
                                    repair.repairDescription %>
                                </p>
                                <p id="clientName"><%= repair.clientName %></p>
                                <p id="clientComment">
                                    <%= repair.clientComment %>
                                </p>
                                <div class="card-footer">
                                    <p
                                        id="linkToDetailsPage"
                                        class="detail-link"
                                    >
                                        <a href="<%= repair.clientWebsite %>"
                                            >View customer<span class="arrow"
                                                >→</span
                                            ></a
                                        >
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="section footer">
            <div class="container">
                <div class="w-layout-grid footer-content">
                    <img
                        src="../images/inverse-Logo.svg"
                        loading="lazy"
                        width="169"
                        id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8dc-ba45b8da"
                        alt="Seguro Hydraulics Inverted footer logo"
                        class="footer-logo"
                    />
                    <div
                        id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8f5-ba45b8da"
                        class="footer-office"
                    >
                        <h3 class="footer-heading">office</h3>
                        <a
                            href="mailto:contact@segurohydraulics.com?subject=Website%20enquiry"
                            class="footer-link"
                            >Email</a
                        >
                        <a href="tel:++27670096822" class="footer-link">Cell</a>
                        <div class="footer-text">Mon-Thur: 7.30am - 4.30pm</div>
                        <div class="footer-text">Friday: 7.30am - 12.30pm</div>
                    </div>
                    <div
                        id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8dd-ba45b8da"
                        class="footer-nav"
                    >
                        <h3 class="footer-heading">navigation</h3>
                        <a href="../index.html" class="footer-link">Home</a>
                        <a href="#" class="footer-link">Our work</a>
                        <a href="#" class="footer-link">Repair process</a>
                        <a href="../about.html" class="footer-link">About us</a>
                        <a href="../contact.html" class="footer-link"
                            >Contact</a
                        >
                    </div>
                    <div
                        id="w-node-_1f095eb7-1d94-a44c-448d-cbd0ba45b8ea-ba45b8da"
                        class="footer-legal"
                    >
                        <h3 class="footer-heading">legal &amp; site map</h3>
                        <a href="../disclaimer.html" class="footer-link"
                            >Disclaimer</a
                        >
                        <a
                            href="../terms-of-sale.html"
                            id="terms"
                            class="footer-link"
                            >Terms of sale</a
                        >
                        <a
                            rel="noopener nofollow"
                            href="../documents/Privacy-Policy.pdf"
                            target="_blank"
                            class="footer-link"
                            >Privacy policy</a
                        >
                        <a href="#" class="footer-link">Site map</a>
                    </div>
                </div>
                <div class="w-layout-grid footer-copyright-social">
                    <div class="copyright">
                        <div>
                            © <span class="year">2021</span> Seguro Hydraulics
                            <br />All rights reserved.
                        </div>
                    </div>
                    <div class="social">
                        <div class="w-layout-grid social-grid">
                            <a
                                rel="noreferrer noopener"
                                href="https://www.linkedin.com/in/amy-abbot-acca-88b7457a/"
                                target="_blank"
                                class="social-icons w-inline-block"
                                ><img
                                    src="../images/LI-In-Bug.png"
                                    loading="lazy"
                                    width="40"
                                    height="40"
                                    alt="LinkedIn social media icon"
                                    class="icon"
                            /></a>
                            <a
                                rel="noreferrer noopener"
                                href="https://facebook.com"
                                target="_blank"
                                class="social-icons w-inline-block"
                                ><img
                                    src="../images/f_logo_RGB-Blue_58.png"
                                    loading="lazy"
                                    width="65"
                                    height="65"
                                    alt="Facebook icon"
                                    class="icon facebook"
                            /></a>
                        </div>
                    </div>
                </div>
                <div class="recognition">
                    <div>
                        <a
                            href="http://https:designdevelophost.co.uk"
                            rel="noreferrer noopener"
                            target="_blank"
                            >Website by <span class="text-span">Design</span>
                            <span class="dark-turq">Develop</span>
                            <span class="light-turq">Host</span></a
                        >
                    </div>
                </div>
            </div>
        </footer>
        <script
            src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=60a3c2136060df09f0d05666"
            type="text/javascript"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"
        ></script>
        <script src="../js/webflow.js" type="text/javascript"></script>
        <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
        <script>
            var thisYear = new Date().getFullYear();
            var yearEl = document.querySelector('.year');
            yearEl.textContent = thisYear;
            let img = document.getElementsByTagName('img');
            img.onContextMenu = 'return false';
        </script>
        <style>
            .w-webflow-badge {
                position: fixed !important;
                display: None !important;
                visibility: hidden !important;
            }
            body {
                -webkit-user-select: none; /* Chrome all / Safari all */
                -moz-user-select: none; /* Firefox all */
                -ms-user-select: none; /* IE 10+ */
                -o-user-select: none;
                user-select: none;
            }
            a {
                color: currentColor;
            }
            p {
                color: currentColor;
            }
        </style>
    </body>
</html>
