<!DOCTYPE html>
<!--  Last Updated: 22 July 2022 -->
<html lang="en" data-wf-page="60b27efeb5434b7ea97c437c">
  <head>
    <meta charset="utf-8" />
    <title>Register</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta
      content="yaK1iJom9Oy429CSfJAVFV8Z1Vz1axsXpKCVnVdCILY"
      name="google-site-verification"
    />
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/nav') %>
    <main id="register" class="section main">
      <div class="container">
        <div class="auth-form">
          <h1 class="form-heading">Register</h1>
          <% if (inputData.hasError) { %>
          <p id="input-error"><%= inputData.message %></p>
          <% } %>
          <div class="auth-form-block w-form">
            <form
              id="register"
              name="register"
              data-name="register"
              method="post"
              action="/register"
              redirect="/login"
              data-redirect="/login"
              class="register-form-elements"
            >
              <input
                type="hidden"
                name="_csrf"
                value="<%= locals.csrfToken %>"
              />
              <div>
                <input
                  type="email"
                  class="input-field w-input"
                  autocomplete="on"
                  autofocus="true"
                  maxlength="256"
                  name="email"
                  data-name="email"
                  value="<%= inputData.email %>"
                  placeholder="Your email"
                  id="email"
                  required
                />
              </div>
              <div>
                <input
                  type="email"
                  class="input-field w-input"
                  autocomplete="on"
                  maxlength="256"
                  name="confirm-email"
                  data-name="confirm-email"
                  value="<%= inputData.confirmEmail %>"
                  placeholder="Confirm email"
                  id="confirm-email"
                  required
                />
              </div>
              <div>
                <input
                  type="password"
                  class="input-field w-input"
                  autocomplete="new-password"
                  maxlength="256"
                  name="password"
                  data-name="password"
                  value="<%= inputData.password %>"
                  placeholder="Create password"
                  id="password"
                  required
                />
              </div>
              <input
                type="submit"
                value="Create user"
                data-wait="Please wait..."
                class="button auth w-button"
              />
            </form>
          </div>
          <div id="auth-alternative">
            <a href="/login" class="btn-alt">Login instead?</a>
          </div>
        </div>
      </div>
    </main>
    <%- include('includes/footer') %> <%- include('includes/blockjs') %>
  </body>
</html>
