<article
    id="repair-item-{}"
    class="repair-card w-node-_8aefed1a-6bcc-a852-bb0f-3a4c3e66662e-a620ef40"
>
    <div class="featured-image">
        <img
            src="<%= repair.mainImageUrl %>"
            loading="lazy"
            id="mainImage"
            alt="<%= repair.mainImageUrl %>"
        />
    </div>
    <div class="job-info">
        <h3 id="name"><%=repair.repairName %></h3>
        <p id="date"><%=repair.date %></p>
        <p id="componentName">
            <strong>Component: </strong><br />
            <%=repair.componentName %>
        </p>
        <p id="partNo"><strong>Part No.: </strong><br /><%=repair.partNo %></p>
        <p id="componentDescription">
            <strong>Component Description: </strong><br />
            <%=repair.componentDescription %>
        </p>
        <p id="repairDescription">
            <strong>Reason for repair: </strong
            ><br /><%=repair.repairDescription %>
        </p>
        <p id="clientName">
            <strong>Customer: </strong><br />
            <%=repair.clientName %>
        </p>
        <p id="clientComment"><%=repair.clientComment %></p>
        <div class="card-footer">
            <p id="linkToDetailsPage" class="detail-link">
                <a href="/our-work/<%= repair.id %>"
                    >See more detail on this repair
                    <span class="arrow">→</span></a
                >
            </p>
        </div>
    </div>
</article>
