<article
  id="repair-item-{<%= repair.id %>}"
  class="repair-card w-node-_8aefed1a-6bcc-a852-bb0f-3a4c3e66662e-a620ef40"
>
  <div class="featured-image">
    <img
      src="<%= repair.mainImageUrl %>"
      loading="lazy"
      id="mainImage"
      alt="<%= repair.componentName %>"
    />
  </div>
  <div class="job-info">
    <h3 id="name"><%=repair.repairName %></h3>
    <p id="componentName">
      <strong>Component: </strong><br />
      <%=repair.componentName %>
    </p>
    <div class="card-footer">
      <p id="linkToDetailsPage" class="detail-link">
        <a href="/our-work/<%= repair.id %>"
          ><strong>See more detail on this repair</strong>
          <span class="arrow">&rarr;</span></a
        >
      </p>
    </div>
  </div>
</article>
